<div class="input-icon" data-error="Invalid email">
  <label for="email">Email</label><br>
  <span class="fa-solid fa-envelope icon"></span>
  <input type="email" name="email" id="email" value="example2fglife.com">
</div>