button, .btn, input[type="submit"], a.btn {
  --btn-color: var(--purple-800-brand);
  --btn-hover: var(--purple-900);
  --btn-focus: var(--purple-900);
  --btn-active: var(--purple-900);
  --btn-text: var(--white);
  font-size: 18px;
  font-family: 'Helvetica Neue';
  color: var(--btn-text);
  background-color: var(--btn-color);
  border: 2px solid var(--btn-color);
  border-radius: 6px;
  padding: .5em 1.33em;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  gap: .5em;
  margin: .25em;
}

button:hover, .btn:hover, a.btn:hover, input[type="submit"]:hover {
  background-color: var(--btn-hover);
  border-color: var(--btn-hover);
}

button:active:enabled, .btn:active:enabled, a.btn:active, input[type="submit"]:active {
  background-color: var(--btn-active);
  border-color: var(--btn-active);
  transform: scale(.95);
}

button:focus, .btn:focus, a.btn:focus, input[type="submit"]:focus {
  background-color: var(--btn-focus);
  border-color: var(--btn-focus);
}

.btn-icon-only {
  min-width: 35px;
  min-height: 35px;
  padding: .25em;
  display: inline-block;
}

.icon {
  display: inline-block;
  font-size: .85em;
}

.btn-outline {
  background-color: white;
  border-color: var(--btn-color);
  color: var(--btn-color);
}

.btn-outline:hover, .btn-outline:active, .btn-outline:focus {
  background-color: var(--btn-color);
  border-color: var(--btn-color);
  color: var(--btn-text);
}

.btn-yellow {
  --btn-color: var(--yellow-300-brand);
  --btn-hover: var(--yellow-400);
  --btn-active: var(--yellow-400);
  --btn-focus: var(--yellow-400);
  --btn-text: var(--gray-800);
}

.btn-orange {
  --btn-color: var(--orange-600-brand);
  --btn-hover: var(--orange-700);
  --btn-active: var(--orange-700);
  --btn-focus: var(--orange-700);
  --btn-text: var(--gray-800);
}

.btn-green {
  --btn-color: var(--green-500-brand);
  --btn-hover: var(--green-600);
  --btn-active: var(--green-600);
  --btn-focus: var(--green-600);
  --btn-text: var(--gray-800);
}

.btn-blue {
  --btn-color: var(--blue-800);
  --btn-hover: var(--blue-900-brand);
  --btn-active: var(--blue-900-brand);
  --btn-focus: var(--blue-900-brand);
  --btn-text: var(--white);
}

.btn-purple {
  --btn-color: var(--purple-400-brand);
  --btn-hover: var(--purple-500);
  --btn-active: var(--purple-500);
  --btn-focus: var(--purple-500);
  --btn-text: var(--white);
}

.btn-gray {
  --btn-color: var(--gray-700-brand);
  --btn-hover: var(--gray-800);
  --btn-active: var(--gray-800);
  --btn-focus: var(--gray-800);
  --btn-text: var(--white);
}

.btn-disabled {
  --btn-color: var(--disabled-color);
  --btn-hover: var(--disabled-color);
  --btn-active: var(--disabled-color);
  --btn-focus: var(--disabled-color);
  --btn-text: var(--gray-700-brand);
  opacity: 75%;
}

.btn-text {
  --btn-color: transparent;
  --btn-hover: var(--gray-200);
  --btn-active: var(--gray-200);
  --btn-focus: var(--gray-200);
  --btn-text: var(--gray-700-brand);
}

.btn-sm {
  font-size: 16px;
}

.btn-lg {
  font-size: 20px;
}