<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ path '/css/selectables.css' }}">
  <link rel="stylesheet" href="{{path '/css/variables.css' }}">
  <title>Text Fields</title>
</head>

<body>

  {{{ yield }}}

</body>

</html>