<details-utils>
  <details class="faq">
    <summary>Accordion Label</summary>
    <div class="faq-content">
      <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nulla et iaculis nulla. Mauris vel ligula magna.
        Maecenas elementum bibendum nibh, in suscipit lacus pharetra mattis. Maecenas molestie imperdiet nisi, et
        suscipit turpis</p>
    </div>
  </details>
  <details class="faq">
    <summary>Accordion Label</summary>
    <div class="faq-content">
      <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nulla et iaculis nulla. Mauris vel ligula magna.
        Maecenas elementum bibendum nibh, in suscipit lacus pharetra mattis. Maecenas molestie imperdiet nisi, et
        suscipit turpis</p>
    </div>
  </details>
  <details class="faq">
    <summary>Accordion Label</summary>
    <div class="faq-content">
      <p>Lorem ipsum dolor sit amet,consectetur adipiscing elit. Nulla et iaculis nulla. Mauris vel ligula magna.
        Maecenas elementum bibendum nibh, in suscipit lacus pharetra mattis. Maecenas molestie imperdiet nisi, et
        suscipit turpis</p>
    </div>
  </details>
</details-utils>