<spicy-sections>
  <h2>Tab 1</h2>
  <div>
    <p>
      The <code>tab-bar</code> affordance
      can use shadow-dom to establish
      a styleable tab-bar and panels.
      The required parts can be exposed for styling
      with consistent pseudo-elements.
    </p>
  </div>
  <h2>Tab 2</h2>
  <div>
    <p>
      The accordion-like <code>collapse</code> affordance
      also uses shadow-dom to establish
      summary-details like behavior for each section,
      with an option to make the toggle-states
      <code>exclusive-collapse</code>.
    </p>
  </div>
  <h2>Tab 3</h2>
  <div>
    <p>
      The fallback state is simply structured HTML,
      without any show/hide affordances.
      This does not require any special styling.
    </p>
  </div>
</spicy-sections>